<p-breadcrumb [model]="breadcrumbs" [home]="home"></p-breadcrumb>

<div class="ui-g-12 ui-md-8 ui-md-offset-2">
    <div class="ui-g ui-fluid" *ngIf="produto">
        <div class="ui-g-12">
            <label for="nome">Nome do item:</label>
            <input pInputText id="nome" [(ngModel)]="produto.nome"  />
        </div>

        <div class="ui-g-12 ui-md-6">
            <label for="unidadeMedida">Unidade de medida:</label>
            <p-dropdown [options]="unidadesMedida" [(ngModel)]="produto.unidadeMedida" ></p-dropdown>
        </div>

        <div class="ui-g-12 ui-md-6">
            <label for="quantidade">Quantidade:</label>
            <div class="ui-inputgroup">                
                <input pInputText id="quantidade" [(ngModel)]="produto.quantidade" placeholder="0" 
                 (keyup)="validateInputQtd()"  /> 
                <span class="ui-inputgroup-addon">{{ produto.unidadeMedida.abbr }}</span>    
            </div>
        </div>        

        <div class="ui-g-12 ui-md-6">
            <label for="preco">Preço:</label>         
            <div class="ui-inputgroup">
                <span class="ui-inputgroup-addon">R$</span>

                <input pInputText id="preco" [(ngModel)]="produto.preco" placeholder="0,00"  currencyMask [(ngModel)]="value" [options]="{ prefix: '', thousands: '.', decimal: ',', align: 'left' }" />     
            </div>            
        </div>    

        <div class="ui-g-12 ui-md-6">
            <label for="perecivel">Produto perecível?</label>
            <p-toggleButton id="perecivel" onLabel="Sim" offLabel="Não" 
            onIcon="pi pi-check" offIcon="pi pi-times" [(ngModel)]="produto.perecivel"></p-toggleButton>
        </div>    

        <div class="ui-g-12 ui-md-6">
            <label for="dataValidade">Data de validade:</label>
             <p-calendar id="dataValidade" [(ngModel)]="produto.dataValidade" [locale]="en" 
             [maxDate]="produto.dataFabricacao" [readonlyInput]="true" dateFormat="dd/mm/yy"></p-calendar>
        </div>   

        <div class="ui-g-12 ui-md-6">
            <label for="dataFabricacao">Data de fabricação:</label>
            <p-calendar id="dataFabricacao" [(ngModel)]="produto.dataFabricacao" [locale]="en" 
            [minDate]="produto.dataValidade" [readonlyInput]="true" dateFormat="dd/mm/yy"></p-calendar>
        </div>   

    </div>
    <p-footer>

        <p-messages [(value)]="msgs"></p-messages>

        <div class="ui-dialog-buttonpane ui-helper-clearfix">            
            <button type="button" pButton icon="pi pi-save" (click)="save()" label=" Salvar"></button>
        </div>
    </p-footer>
</div>

<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>

